{% block content %}

This is a Book database!

{% endblock %}

<p>------------</p>
<h3>Navigation</h3>

<ul>
	<li><a href="http://localhost:5000/">home</a></li>
    <li><a href="http://localhost:5000/all_books">See a list of books in the db</a></li>
    <li><a href="http://localhost:5000/all_authors">See a list of authors in the db</a></li>
    <li><a href="http://localhost:5000/login">login</a></li>
    <li><a href="http://localhost:5000/logout">logout</a></li>
    <li><a href="http://localhost:5000/register">register an account</a></li>
    <li><a href="http://localhost:5000/create_list">create lists of books into the db</a></li>
    <li><a href="http://localhost:5000/lists">See the lists you've created in the db</a></li>

</ul>


